<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dash_task/src/styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- Main -->
      <main class="main-container-login">
        <div class="main-title-login">
          <img
            src="/images/ds-logo-new.svg"
            style="
              height: 35px;
              width: 290px;
              padding-bottom: 20px;
              padding-top: 40px;
            "
          />
        </div>

        <div *ngIf="isLoginView">
          <div class="main-card-login">
            <div class="card-login">
              <div class="card-inner-login">
                <img
                  src="/images/active-directory-logo.svg"
                  alt=""
                  class="window-logo"
                />
              </div>
              <div class="login-form">
                <h2>Login to active directory</h2>
                <label for="email">Email</label>
                <input
                  class="login-field"
                  type="email"
                  [(ngModel)]="loginObj.emailId"
                  name="emailId"
                  placeholder="Email Address"
                  id="email"
                />
                <label for="password">Password</label>
                <input
                  class="login-field"
                  type="password"
                  [(ngModel)]="loginObj.password"
                  name="password"
                  placeholder="Password"
                  id="password"
                />
                <button class="login-btn" type="button" (click)="onLogin()">
                  LOG IN
                </button>
                <h6>
                  <a routerLink="/reset-password" style="color: #5cdcb9">
                    Forgot Password?
                  </a>
                  <a
                    class="register"
                    style="position: relative; left: 60px; color: #5cdcb9"
                    (click)="isLoginView = false"
                    >Register</a
                  >
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!isLoginView">
          <div class="main-card-login">
            <div class="card-login">
              <div class="card-inner-login">
                <img
                  src="/images/active-directory-logo.svg"
                  alt=""
                  class="window-logo"
                />
              </div>
              <div class="login-form">
                <h2>Login to active directory</h2>
                <label for="email">Email</label>
                <input
                  class="login-field"
                  type="email"
                  [(ngModel)]="userRegisterObj.emailId"
                  name="emailId"
                  placeholder="Email Address"
                  id="email"
                />
                <label for="password">Password</label>
                <input
                  class="login-field"
                  type="password"
                  [(ngModel)]="userRegisterObj.password"
                  name="password"
                  placeholder="Password"
                  id="password"
                />
                <button class="login-btn" type="button" (click)="onRegister()">
                  Register
                </button>
                <h6>
                  <a
                    class="register"
                    style="position: relative; left: 60px; color: #5cdcb9"
                    (click)="isLoginView = true"
                    >Log in here</a
                  >
                </h6>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <router-outlet></router-outlet>

    <!-- Apex Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.3.0/apexcharts.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
