<!-- Main -->
<main class="main-container">
  <div class="profile-container">
    <div class="profile-display">
      <h1>AA</h1>
      <span
        class="material-icons"
        style="
          width: 35px;
          height: 35px;
          background-color: #182252;
          border: 3px solid white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100%;
          position: relative;
          top: 65px;
          right: 100px;
          color: white;
        "
      >
        photo_camera
      </span>
      <div style="display: flex; flex-direction: column; gap: -80px">
        <h2
          style="position: relative; left: -60px; font-size: 20px; color: black"
          *ngIf="loggedInUser"
        >
          {{ loggedInUser.fName }} {{ loggedInUser.lName }}
        </h2>
        <h6 style="position: relative; top: -30px; left: -60px; color: black">
          Commissioner
        </h6>
      </div>

      <button>Update Signature</button>
      <button>Change Password</button>
    </div>
    <hr />

    <div class="span2">
      <div class="input-group">
        <label for="">First Name</label>
        <input class="profile-input" type="text" />
      </div>
      <div class="input-group">
        <label for="">Middle Name</label>
        <input class="profile-input" type="text" />
      </div>
    </div>

    <div class="span2">
      <div class="input-group">
        <label for="">Last Name</label>
        <input class="profile-input" type="text" />
      </div>
      <div class="input-group">
        <label for="">Phone Numbere</label>
        <input class="profile-input" type="text" />
      </div>
    </div>

    <div class="span2">
      <div class="input-group">
        <label for="">Alternative Phone Number</label>
        <input class="profile-input" type="text" />
      </div>
      <div class="input-group">
        <label for="">Personal Email</label>
        <input class="profile-input" type="text" />
      </div>
    </div>
    <label
      for=""
      style="
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin-bottom: 10px;
      "
      >Office Email Address</label
    >
    <input class="profile-input2" type="text" />
    <h2>Signature</h2>

    <button
      style="
        display: flex;
        justify-content: flex-end;
        background-color: #2eb08d;
        padding: 15px 20px 10px 20px;
        height: 50px;
        border: none;
        color: white;
        border-radius: 5px;
        margin-left: auto;
      "
    >
      Edit Profile
    </button>
  </div>
</main>
