<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/dash_task/src/app/profile/profile.component.css"
    />
  </head>
  <body>
    <div class="grid-container">
      <!-- header -->

      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-symbols-outlined"> menu </span>
        </div>
        <div class="header-left">
          <img src="/images/ds-logo-new.svg" style="height: 25px" />
        </div>
        <div class="header-right">
          <span class="material-icons"> notifications</span
          ><span
            style="
              background-color: red;
              border-radius: 100%;
              color: white;
              font-size: 8px;
              padding: 3px;
              position: relative;
              top: -12px;
              left: -10px;
            "
            >10+</span
          >
          <span
            style="
              background-color: rgb(230, 188, 56);
              width: 50px;
              height: 50px;
              border-radius: 100%;
              color: white;
              font-size: 20px;
              padding: 10px;
              justify-content: center;
            "
            >AA</span
          >
        </div>
      </header>

      <!-- sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons" style="font-size: 60px">
              drag_handle
            </span>
          </div>
          <!-- <span class="material-icons-outlined" onclick="closeSidebar()">
            close
          </span> -->
        </div>
        <ul class="sidebar-list">
          <li class="sidebar-list-item" routerLink="/dashboard">
            <span class="material-icons"> grid_view </span
            ><span class="list-text">Dashboard</span>
          </li>
          <li class="sidebar-list-item">
            <span class="material-icons"> folder </span>File Manager
          </li>
          <li class="sidebar-list-item">
            <span class="material-icons"> web_stories </span>Application
          </li>
          <li class="sidebar-list-item" routerLink="/profile">
            <span class="material-icons"> person </span>Profile
          </li>
          <li
            class="sidebar-list-item"
            (click)="onLogout()"
            style="margin-top: 300px"
          >
            <span class="material-icons"> logout </span>
            Logout
          </li>
        </ul>
      </aside>

      <!-- Main -->
      <main class="main-container">
        <div class="profile-container">
          <div class="profile-display">
            <h1>AA</h1>
            <span
              class="material-icons"
              style="
                width: 35px;
                height: 35px;
                background-color: #182252;
                border: 3px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                position: relative;
                top: 65px;
                right: 100px;
                color: white;
              "
            >
              photo_camera
            </span>
            <div style="display: flex; flex-direction: column; gap: -80px">
              <h2
                style="
                  position: relative;
                  left: -60px;
                  font-size: 20px;
                  color: black;
                "
                *ngIf="loggedInUser"
              >
                {{ loggedInUser.fName }} {{ loggedInUser.lName }}
              </h2>
              <h6
                style="
                  position: relative;
                  top: -30px;
                  left: -60px;
                  color: black;
                "
              >
                Commissioner
              </h6>
            </div>

            <button>Update Signature</button>
            <button>Change Password</button>
          </div>
          <hr />

          <span class="span2">
            <div class="input-group">
              <label for="">First Name</label>
              <input class="profile-input" type="text" />
            </div>
            <div class="input-group">
              <label for="">Middle Name</label>
              <input class="profile-input" type="text" />
            </div>
          </span>

          <span class="span2">
            <div class="input-group">
              <label for="">Last Name</label>
              <input class="profile-input" type="text" />
            </div>
            <div class="input-group">
              <label for="">Phone Numbere</label>
              <input class="profile-input" type="text" />
            </div>
          </span>

          <span class="span2">
            <div class="input-group">
              <label for="">Alternative Phone Number</label>
              <input class="profile-input" type="text" />
            </div>
            <div class="input-group">
              <label for="">Personal Email</label>
              <input class="profile-input" type="text" />
            </div>
          </span>
          <label
            for=""
            style="
              font-size: 12px;
              font-family: Arial, Helvetica, sans-serif;
              color: black;
              margin-bottom: 10px;
            "
            >Office Email Address</label
          >
          <input class="profile-input2" type="text" />
          <h2>Signature</h2>

          <button
            style="
              display: flex;
              justify-content: flex-end;
              background-color: #2eb08d;
              padding: 15px 20px 10px 20px;
              height: 50px;
              border: none;
              color: white;
              border-radius: 5px;
              margin-left: auto;
            "
          >
            Edit Profile
          </button>
        </div>
      </main>
    </div>
    <router-outlet></router-outlet>
    <!-- Apex Chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/4.3.0/apexcharts.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
