<!-- Main -->
<main class="main-container">
  <div class="main-title">
    <p class="font-weight-bold" *ngIf="loggedInUser">
      Welcome, {{ loggedInUser.fName }} {{ loggedInUser.lName }}
    </p>
    <p
      class="font-weight-bold-2"
      style="position: relative; top: -20px; color: black; font-size: 13px"
    >
      Commissioner, Office of the Chairman
    </p>
  </div>
  <div class="input-main-container">
    <input type="text" class="dashboard-input" placeholder="Search" />
    <span
      class="material-icons"
      style="
        color: #5cdcb9;
        font-weight: 900;
        width: 55px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid rgb(190, 184, 184);
      "
    >
      filter_list
    </span>
    <button class="dashboard-button">Search</button>
  </div>

  <div class="main-card">
    <div class="card">
      <h4>Untreated Task</h4>
      <h2>21</h2>
      <h5>O Today</h5>
    </div>

    <div class="card">
      <h4>Untreated Task</h4>
      <h2>21</h2>
      <h5>O Today</h5>
    </div>

    <div class="card">
      <h4>Untreated Task</h4>
      <h2>21</h2>
      <h5>O Today</h5>
    </div>
  </div>

  <div class="main-bottom-card">
    <div class="bottom-card">
      <span class="material-icons"> book </span>
      <h2>0 Memo(s)</h2>
      <h5>Internal Memo</h5>
    </div>

    <div class="bottom-card">
      <span class="material-icons"> book </span>
      <h2>Create New</h2>
      <h5>0 Today</h5>
    </div>

    <div class="bottom-card">
      <span class="material-icons"> book </span>
      <h2>Memos Endorsed</h2>
      <h5>By Me</h5>
    </div>

    <div class="bottom-card">
      <span class="material-icons"> book </span>
      <h2>Memos Approved</h2>
      <h5>By Me</h5>
    </div>
  </div>
</main>
